footer{
    background-color: white;
    height: 70px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    bottom: 0;
}
p {
    padding: 25px;
    margin: 0;
    display:flex;
    align-content:center;
    justify-content:center;
}