<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
	<UL>
        {% for dict in states_city|sort(attribute='name') %}
      	    <LI>{{ dict.id }}: <B>{{ dict.name }}</B>
                <UL>
                {% for valor in states_city[dict] %}
                        <LI>{{ valor.id }}: <B>{{ valor.name }}</B></LI>
                {% endfor %}
                </UL>
            </LI>
        {% endfor %}
	</UL>
    </BODY>
</HTML>
